.img-header {
  border: 1px solid black;
  width: 100px;
}
header.main-header{
  width: 100%;
  display: flex;
  padding: 10px 25px;
  box-shadow: 1px 5px 15px #81818129;
  justify-content: space-between;
  box-sizing: border-box;
  
}
ul.navbar{
  list-style: none;
  display: flex;
}

ul.navbar li {
  margin-right: 15px;
}
.container-logo{
  width: 80px;
}

.container-logo img{
  width: 100%;
}