.img-header {
  border: 1px solid black;
  width: 100px;
}
header.main-header{
  width: 100%;
  display: flex;
  padding: 10px 25px;
  box-shadow: 1px 5px 15px #81818129;
  justify-content: space-between;
  box-sizing: border-box;
  
}
ul.navbar{
  list-style: none;
  display: flex;
}

ul.navbar li {
  margin-right: 15px;
}
.container-logo{
  width: 80px;
}

.container-logo img{
  width: 100%;
}
.card-item{
  float: left;
  border: 1px solid #ababab;
  width: 200px;
  margin-top: 20px;
  margin-left: 20px;
  box-shadow: 1px 1px 5px #0000002b;
  border-radius: 5px;
  padding: 10px;
  text-align: center;
}